.userPrimaryPoll {
  position: relative;
  background-color: var(--background-card);
  display: flex;
  flex-direction: column;
  padding-inline: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 0;
  border: none;

  .header {
    padding-inline: 20px;
  }

  .content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    margin-left: 2px;
    margin-top: 2px;
    cursor: text;


    .message {
      position: relative;
      grid-area: message;
      color: var(--text-primary);
      word-break: break-word;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      width: 100%;
      margin-bottom: 12px;
      padding-inline: 20px;

      display: flex;
      flex-direction: column;
      gap: 20px;

      a:hover {
        text-decoration: underline;
      }

      .messageFade {
        position: absolute;
        z-index: 1;
        top: 610px;
        left: 0;
        pointer-events: none;
        background-image: var(--fade-note-vertical);
        width: 100%;
        height: 40px;
      }

      &.bigFont {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
      }

    }

    .topZaps {
      padding-inline: 20px;
      margin-bottom: 20px;
    }

    .footer {
      padding-inline: 32px;
    }
  }

  .upRightFloater {
    position: absolute;
    top: 6px;
    right: 0px;
  }
}

.userPoll {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 12px 20px;
  margin: 0px;

  text-decoration: none;
  color: unset;
  background-color: var(--background-site);
  border: none;
  border-bottom: 1px solid var(--devider);
  border-radius: 0;

  -webkit-user-select: text;
  -moz-select: text;
  -ms-select: text;
  user-select: text;

  width: 100%;

  &.parent {
    border: none;
  }

  &.reactionNote {
    background: none;
    border-bottom: 1px solid var(--subtile-devider);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .repostedBy {
      padding-bottom: 8px;
      display: flex;
      >span {
        >a {
          margin-inline: 5px;
          color: var(--text-tertiary);
          text-decoration: none;
        }
        color: var(--text-tertiary);
        font-size: 14px;
        line-height: 14px;
        font-weight: 400;
        >span {
          text-transform: lowercase;
        }
      }
    }
  }

  .content {
    display: grid;
    grid-template-columns: 50px 1fr;

    .leftSide {
      width: 42px;
      margin-right: 8px;

      .ancestorLine {
        border-left: 1px solid var(--devider);
        height: calc(100% - 12px);
        margin-left: 21px;
      }
    }

    .rightSide {
      display: flex;
      flex-direction: column;
      width: calc(100% - 18px);

      .question {
        color: var(--text-primary);
        word-break: break-word;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        margin-top: 4px;
        margin-bottom: 12px;
        width: 100%;
        overflow: hidden;

        &.bigFont {
          font-size: 24px;
          font-weight: 400;
          line-height: 32px;
        }
      }

      .replyingTo {
        display: flex;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        margin-top: 6px;
        max-width: 518px;
        text-overflow: ellipsis;
        white-space: nowrap;
        .label {
          color: var(--text-primary);
        }
        a {
          max-width: 440px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .author {
          display: inline-block;
          color: var(--accent-links);
          text-decoration: none;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .upRightFloater {
    position: absolute;
    top: 0px;
    right: 8px;
  }
}


.userPollEmbedded {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
  margin-block: 6px;

  width: 100%;

  text-decoration: none;
  color: unset;
  background-color: var(--background-header-input);
  border: none;
  border-bottom: 1px solid var(--devider);
  border-radius: 8px;

  -webkit-user-select: text;
  -moz-select: text;
  -ms-select: text;
  user-select: text;


  &.parent {
    border: none;
  }

  &.reactionNote {
    background: none;
    border-bottom: 1px solid var(--subtile-devider);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .repostedBy {
      padding-bottom: 8px;
      display: flex;
      >span {
        >a {
          margin-inline: 5px;
          color: var(--text-tertiary);
          text-decoration: none;
        }
        color: var(--text-tertiary);
        font-size: 14px;
        line-height: 14px;
        font-weight: 400;
        >span {
          text-transform: lowercase;
        }
      }
    }
  }

  .content {
    display: grid;
    grid-template-columns: 50px 1fr;

    .leftSide {
      width: 32px;
      margin-right: 12px;

      .ancestorLine {
        border-left: 1px solid var(--devider);
        height: calc(100% - 12px);
        margin-left: 21px;
      }
    }

    .rightSide {
      display: flex;
      flex-direction: column;
      width: calc(100% - 50px);

      .question {
        color: var(--text-primary);
        word-break: break-word;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        margin-top: 4px;
        margin-bottom: 12px;
        width: 100%;
        overflow: hidden;

        &.bigFont {
          font-size: 24px;
          font-weight: 400;
          line-height: 32px;
        }
      }

      .replyingTo {
        display: flex;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        margin-top: 6px;
        max-width: 518px;
        text-overflow: ellipsis;
        white-space: nowrap;
        .label {
          color: var(--text-primary);
        }
        a {
          max-width: 440px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .author {
          display: inline-block;
          color: var(--accent-links);
          text-decoration: none;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .pollStats {
        padding: 12px 4px 0 4px;

        div {
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
        }

        button {
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
        }
      }
    }
  }

  .upRightFloater {
    position: absolute;
    top: 0px;
    right: 8px;
  }
}

.choices {
  display: flex;
  flex-direction: column;
  gap: 6px;

  .choice {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    border-radius: 99px;
    border: 1px solid var(--subtile-devider);
    background: var(--background-input);

    color: var(--text-primary);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;

    .zapIcon {
      position: absolute;
      top: 8px;
      right: 12px;
      width: 16px;
      height: 22px;
      display: inline-block;
      margin: 0px 0px;
      background-color: var(--subtile-devider);
      -webkit-mask: url(../../assets/icons/feed_zap_2.svg) no-repeat 0/100%;
      mask: url(../../assets/icons/feed_zap_2.svg) no-repeat 0/100%;
    }

    &:hover {
      border: 1px solid var(--accent);
      .zapIcon {
        background-color: var(--accent);
      }
    }
  }

  .choiceResult {
    position: relative;
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 0;

    &.locked {
      cursor: default;
    }

    .option {
      display: flex;
      align-items: center;
      position: relative;
      width: calc(100% - 64px);
      height: 32px;
      .label {
        position: relative;
        z-index: 1;
        padding-left: 12px;

        display: flex;
        align-items: center;
        gap: 6px;

        .text {
          color: var(--text-primary);
          font-size: 15px;
          font-weight: 400;
          line-height: 20px;

          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          line-clamp: 1;
          -webkit-box-orient: vertical;
          text-align: left;
        }


        .check {
          width: 16px;
          height: 16px;
          min-width: 16px;
          border-radius: 99px;
          flex-grow: 1;

          background-color: var(--text-primary);
          -webkit-mask: url(../../assets/icons/check_poll.svg) 0 / 100% no-repeat;
          mask: url(../../assets/icons/check_poll.svg) 0 / 100% no-repeat;
        }
      }

      .graph {
        position: absolute;
        top: 0;
        left: 0;
        width: var(--percent-width, 0%);
        height: 32px;
        border-radius: 6px;
        background-color: var(--subtile-devider);

        &.highlight {
          background-color: var(--accent);
        }

        &.transparent {
          opacity: 0.5;
        }

      }

    }

    .number {
      width: 60px;
      color: var(--text-primary);
      text-align: right;
      font-size: 15px;
      font-weight: 700;
      line-height: 20px;
    }
  }
}

.pollStats {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px 4px;

  div {
    color: var(--text-tertiary);
    font-size: 14px;
    font-weight: 800;
    line-height: 16px;
  }

  button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    color: var(--accent);
    font-size: 14px;
    font-weight: 800;
    line-height: 16px;
    width: fit-content;

    &:hover {
      text-decoration: underline;
    }

    &:disabled {
      opacity: 1;
      color: var(--text-tertiary);
    }
  }
}


.voteChoices {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: min(640px, 100dvw);

  .voteChoice {
    position: relative;
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px 8px 8px;
    border-radius: 8px;

    &.highlight {
      border: 1px solid var(--accent);
      background-color: var(--background-header-input);
    }

    &:disabled {
      opacity: 1;
      .moreVotes {
        display: none;
      }
    }

    .option {
      display: flex;
      align-items: center;
      position: relative;
      width: calc(100% - 64px);
      height: 32px;
      .label {
        position: relative;
        z-index: 1;
        padding-left: 12px;

        display: flex;
        align-items: center;
        gap: 6px;

        .text {
          color: var(--text-primary);
          font-size: 15px;
          font-weight: 400;
          line-height: 20px;

          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          line-clamp: 1;
          -webkit-box-orient: vertical;
          text-align: left;
        }


        .check {
          width: 16px;
          height: 16px;
          min-width: 16px;
          border-radius: 99px;
          flex-grow: 1;

          background-color: var(--text-primary);
          -webkit-mask: url(../../assets/icons/check_poll.svg) 0 / 100% no-repeat;
          mask: url(../../assets/icons/check_poll.svg) 0 / 100% no-repeat;
        }
      }

      .graph {
        position: absolute;
        top: 0;
        left: 0;
        width: var(--percent-width, 0%);
        height: 32px;
        border-radius: 6px;
        background-color: var(--subtile-devider);

        &.highlight {
          background-color: var(--accent);
        }

        &.transparent {
          opacity: 0.5;
        }

      }

    }

    .number {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      height: 32px;
      width: 62px;

      >div {
        color: var(--text-secondary);
        text-align: right;
        font-size: 15px;
        font-weight: 600;
        line-height: 16px;
      }
      .moreVotes {
        color: var(--accent);
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
      }
    }
  }
}

.voteStats {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px 4px;

  div {
    color: var(--text-tertiary);
    font-size: 14px;
    font-weight: 800;
    line-height: 16px;
  }

  button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    color: var(--text-tertiary);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    width: fit-content;
  }
}

.voteListDevider {
  padding: 0 8px 8px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--subtile-devider);
  margin-top: 20px;
  margin-bottom: 12px;
}

.voteList {
  height: 360px;
  overflow-y: scroll;

  .zappedAmount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 36px;
    gap: 4px;

    .zapIcon {
      width: 16px;
      height: 16px;
      display: inline-block;
      margin: 0px 0px;
      background-color: var(--text-secondary);
      -webkit-mask: url(../../assets/icons/feed_zap_2.svg) no-repeat 0/100%;
      mask: url(../../assets/icons/feed_zap_2.svg) no-repeat 0/100%;
    }

    .amount {
      color: var(--text-primary);
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;
    }
  }

  .voteDetails {
    padding: 10px 6px;
    display: flex;
    gap: 12px;

    .postInfo {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      line-height: 18px;
      font-weight: 400;
      align-items: flex-start;
      justify-content: center;
      gap: 2px;

      .verification {
        max-width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        color: var(--text-secondary);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;

      }
      .userInfo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
        gap: 4px;

        .userName {
          max-width: 100%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;

          color: var(--text-primary);
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 16px;
        }
      }
    }
  }
}
